<template>
 <section id="login" >
    <form>
     <h2>{{ $t('Login') }}</h2>
     <div class="info" v-bind:class="good">
      <p v-show="login.login && login.password">{{ login.login}} / {{ login.password}}</p>
     </div>
     <input type="text" v-model="login.login" placeholder="Username" />
     <input type="password" v-model="login.password" placeholder="Password" />
     <button @click.prevent="login">{{ $t('Login') }}</button>
    </form>
   </section>
</template>

<script>
export default {
   data() {
    return {
      
      login: {
        login: "",
        password: ""
      }
    }
  },
  
  methods: {
    login(){
      
    }
  }
}
</script>


<style>
html, body{
	width:100%;
	height:100%;
	margin:0px;
	font-family: 'Work Sans', sans-serif;
}

section{
	background-color: rgba(0, 0, 0, 0.72);
	width:25%;
	min-height:41%;
	display:flex;
	flex-direction:column;
	margin-left:auto;
    margin-right:auto;
   
    
}
form{
	display:flex;
	flex-direction:column;
	padding: 15px; 
}
h2{
	font-family: 'Archivo Black', sans-serif;
	color:#e0dada;
	margin-left:auto;
	margin-right:auto;
}


input{
	height:35px;
	padding: 5px 5px;
	margin: 10px 0px;
	background-color:#e0dada;
	border:none;
}
button{
	height:40px;
	padding: 5px 5px;
    margin: 10px 0px;
    margin-top: 40px;
	font-weight:bold;
	background-color:#be5256;
	border:none;
	color:#e0dada;
	cursor:pointer;
	font-size:16px;
}
button:hover{
    background-color:#711f1b;
    
}

</style>


